---
layout: page
title: Gruppo
grouptitle: Cogiarplus
description:
---

<h3>Soggetto proponente</h3>

<div class="row">
  <div class="6u 12u$(medium)">
    <h5>Proponenti</h5>
    <ul>
      <li><strong>{{ site.proponenti.name_one }}</strong> *</li>
      <li>{{ site.proponenti.name_two }}</li>
      <li>{{ site.proponenti.name_three }}</li>
      <li>{{ site.proponenti.name_four }}</li>
      <li>{{ site.proponenti.name_five }}</li>
      <li>{{ site.proponenti.name_six }}</li>
      {% if site.proponenti.name_seven %}
      <li>{{ site.proponenti.name_seven }}</li>
      {% endif %}
      {% if site.proponenti.name_eight %}
      <li>{{ site.proponenti.name_eight }}</li>
      {% endif %}
    </ul>
    <p>* <small style="font-size: 75%">Referente del progetto.</small></p>
  </div>

  <div class="6u 12u$(medium)">
    <h5>Partner</h5>
    <ul>
      <li>{{ site.partner.name }}</li>
    </ul>
    <p><small style="font-size: 75%">{{ site.partner.description }}</small></p>
  </div>

</div>
<br>


{% if site.esperienze_imprenditoriali_professionali_sociali_e_culturali %}



<h5>Esperienze imprenditoriali, professionali, sociali e culturali più rilevanti del gruppo, anche ai fini del progetto presentato (max 1500 battute)</h5>

<p>{{ site.esperienze_imprenditoriali_professionali_sociali_e_culturali }}</p>

  {% endif %}
