---
layout: default
---
<article id="main">

  <header>
    {% if page.grouptitle %}
    <h2 style="line-height: 0"><img src="{{ "/images/logo_bw_big-cogiarplus.png" | prepend: site.baseurl }}" alt=""></h2>
    <br>
    <ul class="actions"><li><a href="{{ site.url }}" class="button special">Visita</a></li></ul>
    {% else %}
    <h2>{{ page.title }}</h2>
    {% endif %}
    <p>{{ page.description }}</p>
  </header>


  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
